<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%><body>
   <div class="container"> 
    
        <p>Hello, <string> <%= name %> </string></p>
        <p>Your Otp is <%= otp %>.</p>
     

        <%- include('../partials/footer')%><body>

    </div>

</body>
</html>