<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%><body>
   <div class="container"> 
        <p>Hello, <string> <%= name %> </string></p>
        <p>We are happy to on board you. We can't wait to book your first futsal from us.</p>
        <p>If you have an query then let us know . We are happy to help you</p>
        <%- include('../partials/footer')%><body>

    </div>

</body>
</html>